<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Report Page</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Reports")">Report About Kids and Personels</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("ProTaskReport","Reports")">Report About Project and Tasks</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("UnitTaskReport","Reports")">Report About Units and Tasks</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("Index","Admin")">Return To Admin Page</a>
    </div>
</div>